@font-face {
  font-family: 'DSEG7';
  src: url(./fonts/DSEG7Classic-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 20px auto;
  box-sizing: border-box;
  width: 410px;
  background-color: #93959e;
  border: 3px solid #1a1919;
  padding: 25px 15px 25px 15px;
  outline: 0;
  border-radius: 10px;
}

.coverDisplay {
  box-sizing: border-box;
  position: relative;
  border: 3px solid #3b3838;
  display: flex;
  align-items: center;
  justify-content: end;

  background-color: #808169;
  width: 100%;
  height: 70px;
}

.display {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: 'DSEG7';
  font-size: 55px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coverText {
  padding: 0 10px;
  font-family: 'DSEG7';
  font-size: 55px;
  color: #0000001c;
}
.text {
  padding: 0 10px;
  font-family: 'DSEG7';
  font-size: 55px;
  color: #000000;
}

.buttons {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.button {
  cursor: pointer;
  width: calc(100% / 4 - 4px);
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #242424;
  color: #e0dcdc;
  border: 2px solid #1a1919;
}

.button:active {
  background-color: #1a1919;
}
.number {
  background-color: #6a6e6f;
}

.number:active {
  background-color: #505455;
}

.CE {
  background-color: #7d2e23;
}

.CE.button:active {
  background-color: #6a251c;
}

.container2 {
  margin: 20px auto;
  width: 365px;
  height: 70px;
}
